.kotak_login {
	width:600px;
	height:800px;
	border-radius:6px;
	
	margin-left:400px;
	background-color:white;



}

.imglog {
	width:200px;
	height: 200px;
	padding-left: 200px;
	padding-top: 50px;

}

body {
	background-image: url(background.jpg);
	font-family: "Lucida Sans", sans-serif;
}

.tulisan_login {
	text-align:center;
}

label{
	color: black;
	padding-left:100px;
	text-align: center;
	font-size:30px;
}

.form_login {
	margin-left: 100px;
	height:30px;
	width: 400px;
	background-color: white;
	border:1px solid black;


}

.login{
	width: 400px;
	height:30px;
	margin-left:100px;
	background-color:lightblue;

}

.checkbox {
	margin-left: 100px;

}

 a {
	margin-left: 230px;
}
