
table{}
div{border: 0px solid black;}
textarea{
	width: 825px;
	height: 200px;
}
.div1{
	float: left;
	width: 50%;
}

.div2{
	float:left;
	width: 320px;
}

.div2a{
	float:left;
	width: 320px;
	height: 80px
}

.div2b{
	float:left;
	width: 320px;
	height: 23px
}

.div3{
	float: left;
	width: 430px
}

.div4{
	float: left;
	width: 800px;
	height: 80px;
}

.div5{
	float:left;
	width: 430px;
	height: 100px;
}

.div6{
	float:left;
	width: 545px;
	height: 100px;
}

.div7{
	float:left;
	width: 977px;
}

.div8{
	float:left;
	width: 320px;
	height: 205px;
}

.div9{
	float:left;
	width: 300px;
}

.lh20{
	line-height: 25px;
}
.mgr1{margin-right:95px;}
.mgl1{margin-left: 10px}
.mgl2{margin-left: 30px}
.mgt1{margin-top: 18px}

.pdb1{padding-bottom: 5px}
.dn{display: none;}
.tc{text-align: center;}

.s14{font-size: 14px}
.s18{font-size: 18px}
.s25{font-size: 25px}
.s40{font-size: 40px}

